<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">LTI Deep Linking Test</h2>
      </div>
      <div>
        <h3>Courses</h3>
      </div>
    </div>
  </div>
</div>
